html {
	background-color: darkgray;
	color: lightblue;
}

body,
title {
	text-align: center;
	font-family: verdana;
	font-size: 10px;
}
title {
	font-family: cursive;
	font-size: 20px;
}

br {
	text-align: center;
}
