html {
	text-align: center;
	background-color: darkslategray;
	color: whitesmoke;
}

body,
title {
	font-family: verdana;
	font-size: 10px;
}
title {
	font-family: cursive;
	font-size: 25px;
}

br {
	text-align: center;
}
