html {
	text-align: center;
	background-color: #dc0e0e;
	color: red;
}

body,
title {
	font-family: verdana;
	font-size: 10px;
}
title {
	font-family: cursive;
	font-size: 20px;
}

br {
	text-align: center;
}
